@import "@fluentui/react/dist/sass/References";

b {
  font-weight: bold;
}

div#header {
  // position: fixed;
  // top: 0px;
  // left: 0px;
  width: 100%;
  z-index: 1;
  background: white;
}

div#container2 {
  // margin: 10px;
}

.searchIcon {
  color: white;
  font-weight: bold;
}